body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/backgroundPattern.jpg");
	margin: 0;
}

h1, h2, h3 {
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

p {	
	margin-top: 0;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	padding: 28px 0;
	margin: 0px;
	font-size: 30px;
	width: 100%;
}

h2 {
	font-size: 30px;
	padding: 0px 15px 25px 0;
	border-bottom: 3px solid #dddddd;
	margin-top: 0px;
}

h3 {
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
	margin-top: 0px;
	font-size: 22px;
    }

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
	width: 100%;
	background: #ffffff;
	border-bottom: 2px solid #dddddd;
	float: left;
}

.headerContainer {
	margin: 0;
	text-align: center;
}

nav {
	float: left;
	display: inline-block;
	padding: 34px 0px;
	font-size: 18px;
	width: 100%;
}

nav a {
	color: #777777;
	text-decoration: none;
}

nav li {
	display: inline-block;
    border-right: 1px solid #dddddd;
    padding: 0px 16px;
    color: #dddddd;
    text-align: center;
}

nav li:last-child{
	border: none;
	padding-right: 0;
}

nav a:hover {
	color: lightgrey;
}

.contentContainer {
	min-height: calc(100vh - 278px);
	align-content: center;
	width: 100%;
	margin: 40px 0;
}

.mainSection {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	float: left;
	padding: 30px 0;
	width: 100%;
}

.mainSection img {
	float: left;
	height: 200px;
	margin-right: 20px;
}

.description {
	color: #777777;
	line-height: 1.5;
	font-size: 18px;
	float: left;
	width: calc(100% - 60px);
	padding: 30px;
}

.description p {
	margin-bottom: 10px;
}

.portfolio {
	width: 100%;
	border: 1px black solid;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0 30px 30px 0;
}

.portfolio h3 {
	font-size: 20px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 18px 0;
	display: block;
	width: 100%;
	border-bottom: none;
	margin-top: 125px;
	font-weight: normal;
}

.portfolio:nth-child(even) {
	margin-right:0;
}

.portfolio:last-child{
	margin-bottom: 0;
}

#hangman {
	background-image: url("../images/HangmanBackground.jpeg");	
}

#RPGgame {
	background-image: url("../images/RGBbackground.jpeg");
}

#trivia {	
	background-image: url("../images/TriviaBackground.jpg");
}

#rutgers {
	background-image: url("../images/WidgetBackground.jpg");
}
	
#rps {	
	background-image: url("../images/rpsBackground.jpg");
}

form {
	font-size: 20px;
	color: #777777;
}

input {
    width: 97.5%;
    margin: 5px 0 15px 0;
	font-size: 15px;
	padding: 5px;
	color: #777777;
	border-bottom: 1px solid #dddddd;
}

textarea {
	height:200px;
	width: 98.5%;
	border-style: solid;
	border-color: #D3D3D3;
}

button {
	background-color: #4aaaa5;
	color: #ffffff;
	border-radius: 0;
	padding: 10px;
	font-size: 18px;
	margin-top: 15px;
}

.sidebar {
	margin-top: 40px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	float: left;
	font-size: 22px;
	padding: 30px 0;
	width: 100%;
	text-align: center;
}

.sidebar li {
	display: inline-block;
}

.sidebar img {
	width: 60px;
	height: 60px;
	margin: 2.5px 2.5px 10px 2.5px;
}


footer {
	width: 100%;
	display: block;
	height: 75px;
	background-color: #666666;
	color: #dddddd;
	text-align: center;
	border-top: 10px solid #4aaaa5;
	padding-top: 20px;
}

footer p {
	margin-top: 20px;
}

.clearfix {
	clear: both;
}

@media only screen and (min-width: 768px) {
	header {
		width: 100%;
	}

	.headerContainer {
		max-width: 960px;
		margin: 0 auto;
	}
	h1 {
		width: auto;
		padding: 28px;
	}

	nav {
		width: auto;
		float: right;
		padding: 34px 10px;
	}

	.portfolio {
		max-width: calc(50% - 17px);
		float: left;
		height: 200px;
	}

	.portfolio h3 {
		padding: 18px 30px;
		float: left;
		width: calc(100% - 60px);
		margin-top: 125px;
	}

	.portfolio:nth-child(even) {
	margin-right:0;
	}

	.portfolio:last-child{
	margin-bottom: 0;
	}

@media only screen and (min-width: 980px) {
	.contentContainer {
		max-width: 960px;
		margin: 40px auto;
	}

	.mainSection {
		width: 588px;
		padding: 30px;
		text-align:;
	}

	.sidebar {
		margin-top: 0;
		margin-left: 40px;
		width: 208px;
		padding: 30px;
		text-align: left;
	}
	.portfolio {
		max-width: calc(50% - 17px);
		float: left;
		height: 200px;
	}

	.portfolio h3 {
		padding: 18px 30px;
		float: left;
		width: calc(100% - 60px);
		margin-top: 125px;
	}

	.portfolio:nth-child(even) {
	margin-right:0;
	}

	.portfolio:last-child{
	margin-bottom: 0;
	}

	h1, h2, h3 {
		text-align: left;
	}

}
